<div class="form">
  <h1>Sign in</h1>
  <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email%>
    <%= f.label :password %>
    <%= f.password_field :password%>
    <%= f.submit class: 'btn'%>
  <% end %>
</div>