<h1>ブログ編集</h1>
<%= form_with(model:@blog, local: true) do |form| %>
  <%= form.label :title %><br>
  <%= form.text_field :title %><br>
  <%= form.label :content %><br>
  <%= form.text_area :content %>
  <%= form.submit %>
<% end %>
<br>
<%= link_to '詳細', @blog %> |
<%= link_to '一覧', blogs_path %>